<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/main/Subject/subjectmain/modules/lesson">My Lessons</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Discussions Lists</li>
    </ol>
</nav>

<!-- List of Discussions -->
<div class="container">
    <h1 class="titles text-center">List of Discussions</h1>
    <h5 class="text-muted text-uppercase text-center">{{subname}} | {{admin_name}}</h5>

    @for (item of discussions; track $index) {
        <a [routerLink]="['/main/Subject/subjectmain/modules/discussion']" 
           (click)="getDiscussionID(item.discussionid, item.Discussion_Topic)" 
           *ngIf="!isLoading" 
           class="text-decoration-none">
            <mat-card class="matcard mb-3">
                <mat-card-header class="d-flex justify-content-between align-items-center">
                    <div class="col">
                        <strong>Discussion {{$index + 1}}</strong>
                    </div>
                    <div class="col-auto">
                        <p class="text-muted" style="font-size: 0.9rem;">{{item.date_created}}</p>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>{{item.Discussion_Topic}}</p>
                </mat-card-content>
            </mat-card>
        </a>
    }
</div>

<!-- Spinner -->
@if(isLoading) {
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border" role="status" style="width: 7rem; height: 7rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
