<section class="py-5 bg-light">
	<div class="container">
		<div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
				<div class="ps-lg-5">
					<div class="card shadow-lg border border-light text-white text-left h-100">
						<div class="card-body bg-light text-dark p-4 p-xl-5">
							<!-- <h2 class="pb-3 text-center">Take Web Design to the Next Level - Start Today!</h2> -->
							<div class="card-body text-center">
                                <div class="">
                                  <img src="assets/profilepic.jpg"
                                    class=" img-fluid" style="width: 170px; padding: 10px;" />
                                </div>
                                
                                
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded btn-lg">
                                    Change Profile
                                </button>
                                <h4><strong>First Name:</strong></h4><h5><p>{{learner.firstname}}</p></h5>
                                <h4><strong>Middle Name:</strong></h4><h5><p>{{learner.middlename}}</p></h5>
                                <h4><strong>Last Name:</strong></h4><h5><p>{{learner.lastname}}</p></h5>
                              </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ps-lg-5">
					<div class="card shadow-lg border border-light text-white text-left h-100">
						<div class="card-body bg-light text-dark p-4 p-xl-5">
							<!-- <h2 class="pb-3 text-center">Take Web Design to the Next Level - Start Today!</h2> -->
							<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" method="post">
								<div class="mb-3">
									<label class="form-label" for="name">Old Password</label> <input class="form-control" id="name" type="password" formControlName="oldpassword">
								</div>
								<div class="mb-3">
									<label class="form-label" for="email">New Password</label> <input class="form-control" id="email" type="password" formControlName="password">
								</div>
								<div class="mb-3">
									<label class="form-label" for="phone">Confirm Password</label><input class="form-control" id="phone" type="password" formControlName="password_confirmation">
								</div><button class="btn btn-primary btn-lg" type="submit">Update</button>
								<p class="mt-3 small fst-italic text-light">*Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
