<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/main/Subject/subjectmain/modules/discussionlist">Discussion List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Discussion</li>
  </ol>
</nav>


<div class="container text-center justify-content-center border-bottom">
  <h1>{{discussionTopic}}</h1>
  <!-- <h5>July 29, 2024</h5> -->
</div>
<!-- <div class="discussion-container">
    <div class="question-section">
      <div class="question-header">
        <div class="question-date">Jun 12, 2024</div>
        <div class="question-text">
          What are your thoughts about Nosebleeds, Swallowing Objects, Poisoning and Dog Bites?
        </div>
      </div>
      <div class="answer-list">
        <div *ngFor="let discussion of discussions" [ngClass]="{'student-answer': discussion.role === 'student', 'teacher-answer': discussion.role === 'teacher'}" class="answer">
          <div class="answer-user">{{ discussion.user }}</div>
          <div class="answer-date">{{ discussion.date | date:'medium' }}</div>
          <div class="answer-text">{{ discussion.answer }}</div>
        </div>
      </div>
    </div>
    
    <div class="answer-form">
      <form [formGroup]="discussionForm" (ngSubmit)="submitAnswer()">
        <textarea formControlName="answer" placeholder="Insert text here..."></textarea>
        <button type="submit">Reply</button>
      </form>
    </div>
  </div> -->

  <div class="modules">
    <div class="discussion-container">
      <div class="question-section">
        <div class="question-header">
          <div class="question-date"></div>
          <div class="question-text">{{discussionTopic}}</div>
        </div>
        <div class="answer-list">
          <!-- Spinner -->
          @if(isLoading) {
            <div class="d-flex justify-content-center align-items-center vh-100">
              <div class="spinner-border" role="status" style="width: 7rem; height: 7rem;">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          }
          <div *ngFor="let discussion of discussions"
          [ngClass]="{'teacher-answer': discussion.role === 'teacher', 'student-answer': discussion.role === 'student' && !discussion.isCurrentUser, 'current-user-answer': discussion.isCurrentUser}"
          class="answer">
            <div class="answer-user" style="color: white;">{{discussion.user}}</div>
            <div class="answer-date" style="color: rgb(155, 146, 146);">{{discussion.date | date:'medium'}}</div>
            <div class="answer-text"><p [innerHTML]="transformText(discussion.answer)" style="color: white;"></p></div>
          </div>
        </div>
      </div>

      <div class="answer-form">
        <form action="" [formGroup]="discussionForm" (ngSubmit)="submitAnswer()">
          <textarea formControlName="answer" placeholder="Insert text here..."></textarea>
          <button type="submit">Reply</button>
        </form>
      </div>
    </div>
  </div>