<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/main/Subject/subjectmain/modules/learningmaterials">My Modules</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lesson</li>
    </ol>
</nav>


<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/lesson']"><button class="btn buttons w-100">LESSON</button></a></div>
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/discussionlist']"><button class="btn buttons w-100">DISCUSSION</button></a></div>
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/assessment']"><button class="btn buttons w-100">ASSESSMENT</button></a></div>
    </div>
</div>






<div class="container text-center justify-content-center border-bottom">
    <h1>{{modulename}}</h1>
    <h5 class="text-muted text-uppercase text-center">{{subname}} | {{admin_name}}</h5>
    <!-- <h5>{{item.formatted_date}}</h5> -->
</div>

<!-- Retrieving Lessons -->
@for (item of lessons; track $index) {

     <div class="details">
         <div class="lessontitle fw-bold">
             {{item.topic_title}}
         </div>
         <div class="lessons lh-lg">
             {{item.lesson}}             
         </div>
         <div class="alert alert-primary mt-3" role="alert">
             <a href="file"download>learningmaterials.pdf</a>
         </div>
     </div>
 }


