<body>
    <!-- <div class="container">
        <div class="title">Student Login</div>
        <form action="">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Email Address</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" required>
                </div>
                <div class="signup-link">
                    Don't have an account? <a routerLink="/signup">Click Here</a>
                </div>
            </div>
            <div class="button">
                <button type="submit"><a [routerLink]="['/main/Home/']">Log In</a></button>
            </div>
        </form>
    </div>
    <body> -->
        <!-- <div class="container">
            <div class="title">Registration</div>
            <form action="">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Firstname</span>
                        <input type="text" placeholder="Enter your firstname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Middlename</span>
                        <input type="text" placeholder="Enter your middlename" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Lastname</span>
                        <input type="text" placeholder="Enter your lastname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Extensions</span>
                        <input type="text" placeholder="Enter your extension name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Birthdate</span>
                        <input type="date" placeholder="Enter your extension name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Place of Birth</span>
                        <input type="text" placeholder="Enter your place of birth" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Education</span>
                        <input type="text" placeholder="Enter your last attended education" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Civil Status</span>
                        <select>
                            <option value="">Select your civil status</option>
                            <option value="single">Single</option>
                            <option value="married">Married</option>
                            <option value="divorced">Divorced</option>
                            <option value="widowed">Widowed</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Contact Number</span>
                        <input type="text" placeholder="Enter your contact number">
                    </div>
                    <div class="input-box">
                        <span class="details">Email Address</span>
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Enter your password">
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Passowrd</span>
                        <input type="password" placeholder="Enter your password">
                    </div>
                </div>
                <div class="button">
                    <button type="button"><a [routerLink]="['/login']">Register</a></button>
                </div>
            </form>
        </div> -->
        <section class="h-100 bg-light">
            <div class="container py-5 h-100 w-50">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-5 d-none d-xl-block">
                        <!-- <img
                          src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img4.webp"
                          alt="Sample photo"
                          class="img-fluid"
                          style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                        /> -->
                      </div>
                      <div class="col-xl-7">
                        <div class="card-body p-md-4 text-black">
                          <h3 class="mb-5 text-uppercase">Student Login </h3>
          
                        
                          
        
                          <div class="form-outline mb-2">
                            <input type="text" id="form3Example97" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example97">Email </label>
                          </div>
    
                          <div class="form-outline mb-2">
                            <input type="password" id="form3Example8" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example8">Password</label>
                          </div>
                          
          
                          <div class="signup-link">
                              Don't have an account? <a routerLink="/signup">Click Here</a>
                          </div>
                          <div class="d-flex justify-content-end pt-3">
                            <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button> -->
                            <a [routerLink]="['/main/Home/']" type="button" class="btn btn-success btn-lg ms-2">Login </a>
                          </div>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
<!-- </body> -->
