<div class="card mx-auto mt-5" style="max-width: 400px;">
  <div class="card-header text-center">
    <h4>Change Password</h4>
  </div>
  <div class="card-body">
    <p class="text-center">
      You're changing the password for: <strong>{{ email }}</strong>
    </p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" method="POST">
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          class="form-control" 
          placeholder="Enter new password" 
          formControlName="password"
          required 
        />
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input 
          type="password" 
          id="confirmPassword" 
          name="confirm_password" 
          class="form-control" 
          placeholder="Confirm new password" 
          formControlName="password_confirmation"
          required 
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>
  </div>
</div>
