.container {
    margin-top: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h5 {
    font-size: larger;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.container .matcard {
    /* max-width: 900px; */
    background-color:aliceblue;
    margin-bottom: 10px;
}

.container .matcard .matcardheader {
    font-size: larger;
    font-weight: 500;
    color: rgb(0, 0, 248);
}

.container .matcard .matcardcontent {
    color: black;
}

.matcard {
    width: 100%; /* Ensures the mat-card takes full width of the column */
    margin-bottom: 15px;
    transition: all 0.3s ease; /* Smooth transition for responsiveness */
  }
  

  
  