.container {
    margin-top: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h5 {
    font-size: larger;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.container .matcard {
    max-width: 900px;
    background-color:aliceblue;
    margin-bottom: 10px;
}

.container .matcard .matcardheader {
    font-size: larger;
    font-weight: 500;
    color: rgb(0, 0, 248);
}

.container .matcard .matcardcontent {
    color: black;
}