<div class="container">
    <h1 class="titles">My Modules</h1>
    <h5 class="text-muted text-uppercase">{{subname}} | {{admin_name}}</h5>
    <!-- Retrieving Module -->
        @for (item of modules; track $index ) {
            <a [routerLink]="['/main/Subject/subjectmain/modules/lesson']" (click)="getLessons(item.modules_id, item.title)">
            <mat-card class="matcard">
                <div class="row">
                    <div class="col-9">
                        <mat-card-header class="matcardheader">Module {{$index + 1}}</mat-card-header>
                    </div>
                    <div class="col-3">
                        <mat-card-content class="matcardcontent">August 29, 2024</mat-card-content>
                    </div>
                </div>
                <mat-card-content class="matcardcontent">{{item.title}}</mat-card-content>
            </mat-card>
            </a>
        }
</div>

<router-outlet></router-outlet>
