<div class="container-fluid">
  <div class="row">

    <!-- Greeting Section -->
    <div class="container" *ngIf="learner">     
          <h1 class="greeting">{{ greeting }} {{ learner.firstname }}</h1>
          <h3 class="curdate">{{ currentDayAndDate }}</h3>
    </div>  
    
  
    <!-- Today's Classes -->
    <div class="col-lg-8" id="card" *ngIf="!isLoading">
      <div class="row">
        @for (item of subjects; track $index) {
          <div class="col-sm-12 mb-3 col-md-12 col-lg-6">
            <a [routerLink]="['/main/Subject/subjectmain/modules']" (click)="getClass(item.subjectid, item.classid, item.admin_name, item.subject_name)">
              <div class="card" style="width: 100%;">
                <div class="image">
                  <img src="/assets/{{item.image}}" class="card-img-top border border-bottom" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.subject_name}}</h5>
                  <div class="card-details">            
                    <p class="card-text">{{item.schedule}}</p>
                    <p class="card-text">{{item.admin_name}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12" id="pendingassessments" *ngIf="!isLoading">
      <div class="scrollable-right">
        <div class="card w-100" id="cardpendingassessments">
          <div class="card-body-assessment">
            <h5 class="m-3 fw-bold sticky-title">Pending Assessments</h5>
            <div class="card-body-assessment-links">
              @for (item of pendingassessments; track $index) {
                @if(item.isOpen == 1) {
                  <a [routerLink]="['/main/Subject/subjectmain/modules/questionnaires']" 
                    (click)="getAssessmentID(item.assessmentid, item.title)" 
                    class="border-bottom">
                    {{item.title}} @if(item.isDateDue == 0) {<span class="text-danger">(Overdue)</span>}
                  </a>
                } @else if (item.isOpen == 0) {
                  <a [routerLink]="['/main/Subject/subjectmain/modules/questionnaires']" 
                    (click)="getAssessmentID(item.assessmentid, item.title)" 
                    class="border-bottom" 
                    style="pointer-events: none; opacity: 0.5; color: gray;">
                    {{item.title}} @if(item.isDateDue == 0) {<span class="text-danger">(Overdue)</span>}
                  </a>
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>

  @if(isLoading) {
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</div>


  