.greeting {
    font-size: 45px;
    font-weight: larger;
    margin-bottom: 20px;
}

a  {
    text-decoration: none;
}

#card {
    margin-bottom: 20px;
}
  
#pendingassessments {
   overflow-y: auto;
   max-height: 80vh; /* Adjust as needed */
}

.card {
    width: 300px;
    height: 350px auto;  
    margin-bottom: 25px;
}

.card .card-title {
    font-size: 14px;
    font-weight: 500;
    height:50px;
}

.card .card-body .card-details {
    font-size: 10px;
}

img .card-image-top {
    border-bottom: 1px black;
}

img {
    height: 180px;
}

.card-body-assessment {
    font-size: larger;
}

.card-body-assessment-links a {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
  }

#pendingassessment {
    width: 350px;
    height: auto;
}

.overflow-scroll {
    height: 350px;
}

.sticky-title {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}


/* Responsive Layout */
@media (max-width: 990px) {
  .card .card-image-top {
    object-fit: cover;
  }
}
  