<div class="row">

  <!-- Greeting Section -->
  <div class="container" *ngIf="learner">
    <div class="row">
      <div class="col-8">      
        <h1 class="greeting">Goodmorning {{learner.firstname}}</h1>
        <h3>{{currentDayAndDate}}</h3>
      </div>
    </div>
  </div>
  
  
  <!-- Today's Classes -->
  <div class="col-8">
    <div class="row">
      <div class="col-8">
        <div class="row">
        @for (item of subjects ; track $index) {
          <div class="col-sm-6">
            <a [routerLink]="['/main/Subject/subjectmain/modules']">
              <div class="card" style="width: 12rem;">
                <div class="image">
                  <img src="assets/{{item.image}}" class="card-img-top border border-bottom" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{item.subject_name}}</h5>
                  <div class="card-details">            
                    <p class="card-text">{{item.schedule}}</p>
                    <p class="card-text">{{item.admin_name}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        }
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Assessment Area -->
   <div class="col-4">
      <div class="overflow-scroll">
        <div class="card">
            <div class="card-body-assessment">
              <div class="card-body-assessment-links">
                    <h5 class="m-3 fw-bold sticky-title">Pending Assessments</h5>
                  <a href="#">Assessment 1</a>
                  <a href="#">Assessment 2</a>
                  <a href="#">Assessment 3</a>
                  <a href="#">Assessment 4</a>
                  <a href="#">Assessment 5</a>
                  <a href="#">Assessment 6</a>
                  <a href="#">Assessment 7</a>
                  <a href="#">Assessment 8</a>
                  <a href="#">Assessment 9</a>
                  <a href="#">Assessment 10</a>
                  <a href="#">Assessment 11</a>
                  <a href="#">Assessment 12</a>
                  <a href="#">Assessment 13</a>
                  <a href="#">Assessment 14</a>
                  <a href="#">Assessment 15</a>
                  <a href="#">Assessment 16</a>
                  <a href="#">Assessment 17</a>
                  <a href="#">Assessment 18</a>
                  <a href="#">Assessment 19</a>
                  <a href="#">Assessment 20</a>
                  <a href="#">Assessment 21</a>
                  <a href="#">Assessment 22</a>
                  <a href="#">Assessment 23</a>
                  <a href="#">Assessment 24</a>
                  <a href="#">Assessment 25</a>
                  <a href="#">Assessment 26</a>
                  <a href="#">Assessment 27</a>
                  <a href="#">Assessment 28</a>
                  <a href="#">Assessment 29</a>
                  <a href="#">Assessment 30</a>
              </div>
            </div>
        </div>
      </div>
   </div>
</div>
  
  








