.greeting {
    font-size: 45px;
    font-weight: larger;
    margin-bottom: 20px;
}

a  {
    text-decoration: none;
}

#card {
    margin-bottom: 20px;
}
  
#pendingassessments {
   overflow-y: auto;
   max-height: 80vh; /* Adjust as needed */
}

.card {
    width: 300px;
    height: 350px auto;  
    margin-bottom: 25px;
}

.card .card-title {
    font-size: 14px;
    font-weight: 500;
    height:50px;
}

.card .card-body .card-details {
    font-size: 10px;
}

img .card-image-top {
    border-bottom: 1px black;
}

img {
    height: 180px;
}

.card-body-assessment {
    font-size: larger;
}

.card-body-assessment-links a {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
  }

#pendingassessment {
    width: 350px;
    height: auto;
}

/* .overflow-scroll {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
} */
.scrollable-right {
    max-height: 400px; /* Adjust to your desired height */
    overflow-y: auto;  /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
  }
  

.sticky-title {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}


/* Responsive Layout */
@media (max-width: 990px) {
    .card .card-img-top {
      object-fit: cover;
      width: 100%; /* Ensure the image fills the width of the card */
      height: auto; /* Maintain the aspect ratio */
      max-height: 200px; /* Optional: Limit height for consistency */
    }
  }

@media (max-width: 370px) {
    .greeting {
        font-size: 30px;
        font-weight: bolder;
    }

    .curdate {
        font-size: 20px;
        margin-bottom: 10px;
    }
}
  