<div class="container">
    {{itemno}}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/main/Subject/subjectmain/modules/assessment">Assessments</a></li>
          <li class="breadcrumb-item active" aria-current="page">Questionnaires</li>
        </ol>
      </nav>

    <h1 class="titles">Assessment Page</h1>
    <h5 class="text-muted text-uppercase">blp ls1: communication skills</h5>

    <!-- <div class="d-flex justify-content-end">
        <button class="button-3" role="button" (click)="onSelect('Identification')">Identification</button>
        <button class="button-3" role="button" (click)="onSelect('Essay')">Essay Type</button>
        <button class="button-3" role="button" (click)="onSelect('TrueOrFalse/MultipleChoice')">True or False</button>
    </div>
      -->



    <mat-card>

        <!-- Essay Type -->
        @if (questions[itemno]?.type === "Essay") {
            <div class="essay mt-5">
                <div class="essaycard">
                    <mat-card-header>
                        <!-- <mat-card-title>Question #2</mat-card-title> -->
                    </mat-card-header>
                    <mat-card-content>
                        <h3>{{questions[itemno].question}}</h3>
                        <editor apiKey="ieevi9uq0rss4i3img4c28x9l1vrn8usa5zyuf65wwxpqid1" [init]="{plugins:'list link image table code help wordcount'}"></editor>
                    </mat-card-content>
                            <div class="matbuttons">
                                <button mat-button color="accent" (click)="next(-1)">Prev</button>
                                <button mat-button color="accent" (click)="next(1)">Next</button>
                            </div>
                </div>
            </div>
            @if (itemno == questions.length-1) {
                <div class="d-flex justify-content-end m-3">
                    <a [routerLink]="['#']"><button class="submitbutton justify-content-end">Submit</button></a>
                </div>
            }
        }
                <!-- Identification -->
        @else if (questions[itemno]?.type === "Identification") {
                    <div class="identification mt-5">
                        <div class="questioncard">
                            <mat-card-header>
                                <!-- <mat-card-title>Question {{$index + 1}}</mat-card-title> -->
                            </mat-card-header>
                            <mat-card-content>
                                <h3>{{questions[itemno].question}}</h3>
                            </mat-card-content>
                            <form class="formanswer">
                                <mat-form-field>
                                    <mat-label>Provide an answer</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </form>
                
                            <div class="matbuttons">
                                <button mat-button color="accent" (click)="next(-1)">Prev</button>
                                <button mat-button color="accent" (click)="next(1)">Next</button>
                            </div>
                        </div>
                    </div>
                    @if (itemno == questions.length-1) {
                        <div class="d-flex justify-content-end m-3">
                            <a [routerLink]="['#']"><button class="submitbutton justify-content-end">Submit</button></a>
                        </div>
                    }
        }
                <!-- Multiple Choice -->
        @else if (questions[itemno]?.type === "Multiple Choice") {
                        <div class="multiplechoice mt-5">
                            <div class="multiplechoicecard">
                                <mat-card-header>
                                    <!-- <mat-card-title>Question #3</mat-card-title> -->
                                </mat-card-header>
                                <mat-card-content>
                                    <h3>{{questions[itemno].question}}</h3>
                                </mat-card-content>
                                <mat-radio-group
                                aria-labelledby="example-radio-group-label"
                                class="example-radio-group">
                                @for (option of questions[itemno]?.options; track $index) {
                                <mat-radio-button class="example-radio-button" [value]="option.option_text">{{option.option_text}}</mat-radio-button>
                                }
                            </mat-radio-group>
                            <div class="matbuttons">
                                <button mat-button color="accent" (click)="next(-1)">Prev</button>
                                @if (itemno != questions.length-1) {
                                    <button mat-button color="accent" (click)="next(1)">Next</button>
                                }
                            </div>
                            </div>
                        </div>
                        
                        @if (itemno == questions.length-1) {
                                <div class="d-flex justify-content-end m-3">
                                    <a [routerLink]="['#']"><button class="submitbutton justify-content-end">Submit</button></a>
                                </div>
                        }
            }

            
    </mat-card>

</div>