<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/main/Subject/subjectmain/modules/assessment">Assessments</a></li>
          <li class="breadcrumb-item active" aria-current="page">Questionnaires</li>
        </ol>
      </nav>

      <div class="row">
        <!-- Left side: Assessment title -->
        <div class="col-sm-6 d-flex flex-column justify-content-center">
            <h1 class="titles">Assessment Page</h1>
            <h5 class="text-muted text-uppercase">{{ assessmentitle }}</h5>
        </div>
    
        <!-- Right side: Upload button and file link -->
        <div class="col-sm-6">
            <div class="p-3 border rounded" style="background-color: #f8f9fa;">
                <p class="mb-1">Or upload a file:</p>
                <div class="d-flex flex-column align-items-start">
                    <!-- Upload Button -->
                    <button 
                        class="button btn btn-success m-3" 
                        role="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal">
                        Upload a File
                    </button>
                    
                    <!-- Filename display with link -->
                    <div *ngIf="Filename">
                        <a target="_blank" [href]="Filelink" class="ms-3 mb-3">{{ Filename }}</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    

    <!-- <div class="d-flex justify-content-end">
        <button class="button-3" role="button" (click)="onSelect('Identification')">Identification</button>
        <button class="button-3" role="button" (click)="onSelect('Essay')">Essay Type</button>
        <button class="button-3" role="button" (click)="onSelect('TrueOrFalse/MultipleChoice')">True or False</button>
    </div>
      -->

     
    <form [formGroup]="answerForm" (ngSubmit)="onSubmit(itemno, lrn)" method="post">
    @if (questions[itemno]?.type === "Essay") {
            <div class="essay mt-5">
                <mat-card class="quiz-container">
                    <mat-card-header>
                        <!-- <h4>{{questions[itemno]?.question_id}}</h4> -->
                        <h4>{{questions[itemno]?.question}}</h4>
                    </mat-card-header>
                    <mat-card-content>
                        
                        <editor apiKey="ieevi9uq0rss4i3img4c28x9l1vrn8usa5zyuf65wwxpqid1" [init]="{plugins:'list link image table code help wordcount'}" formControlName="answer"  [ngModel]="questions[itemno]?.user_answer" (onKeyPress)="keyUpTiny($event, questions[itemno]?.question_id, lrn)" allowedEvents="onKeyPress"></editor>
                    </mat-card-content> 
                         </mat-card> 
                    </div>
    }

    @else if (questions[itemno]?.type === "Identification") {
            <div class="identification mt-5">
                <mat-card class="questioncard">
                    <mat-card-header>                
                    </mat-card-header>
                    <mat-card-content> 
                         <h3>{{questions[itemno]?.question}}</h3>
                    </mat-card-content>
                        <mat-form-field>
                            <mat-label>Provide an answer</mat-label>
                            <input matInput formControlName="answer"  [ngModel]="questions[itemno]?.user_answer" (blur)="keyUpFunction(questions[itemno]?.question_id, lrn)">
                        </mat-form-field>
                </mat-card>
            </div>
    }
    @else if (questions[itemno]?.type === "Multiple Choice" ||  questions[itemno]?.type === "True or False") {
            <div class="multiplechoice mt-5">
                <mat-card class="multiplechoicecard">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        <h3>{{questions[itemno]?.question}}</h3>
                    </mat-card-content>
                    <mat-radio-group
                     aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    formControlName="answer"  [ngModel]="questions[itemno]?.user_answer">
                    @for (option of questions[itemno]?.options; track $index) {
                        <mat-radio-button class="example-radio-button" [value]="option.option_text" (change)="submitRadio(option.option_text, questions[itemno]?.question_id, lrn)">{{option.option_text}}</mat-radio-button>
                    }
                  </mat-radio-group>
                </mat-card> 
            </div>
    }
        
        @if (itemno == questions.length-1) {
            <div class="d-flex justify-content-end m-3">
                <a [routerLink]="['#']"><button class="submitbutton justify-content-end" type="submit" (click)="submitAs()">Submit</button></a>
            </div>
        }


        <div class="matbuttons">
            @if (itemno != questions.length-questions.length) {
                <button mat-button color="accent" (click)="prev(-1)" type="button">Prev</button>
            }
            @if (itemno != questions.length-1) {
                <button mat-button color="accent" (click)="next(1)" type="button">Next</button>
            }

        </div>
        <!-- <h5 class="text-center">or Upload a File</h5> -->
       
								
        <!-- Modal Content -->
        

        <mat-card-content>
            <!-- <label for="file">File</label> -->
            <!-- <input type="file" id="file" class="file-input" formControlName="file" (change)="onFileSelected($event)"/> -->
            <!-- <a [routerLink]="['#']"><button class="submitbutton justify-content-end" type="submit" (click)="onUploadFile()">Upload</button></a> -->

            <!-- <button mat-button type="button" (click)="uploadFile()">Upload File</button> -->
        </mat-card-content>
    </form>
</div> 

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <form action="" method="post" (ngSubmit)="uploadFile()" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <!-- <input type="file" class="form-control" id="formFile" (change)="onFileSelect($event)"> -->
                <input type="file" id="file" class="file-input" formControlName="file" (change)="onFileSelected($event)"/>


                          <!-- Progress Bar -->
                @if (isUploading) {
                    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
                }
                @if (Filelink != null) {
                    <img [src]="Filelink" alt="" style="width: 200px; height: 200px; object-fit: cover; margin-top: 10px;">
                }
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </form>
    </div>
  </div>