h1 {
    font-size: 45px;
    font-weight: bold;
}

h4 {
    margin-bottom: 50px;
}

a  {
    text-decoration: none;
}
.card {
    width: 300px;
    height: 500px;
}

.card .card-title {
    font-size: 20px;
    font-weight: 500;
    height:75px;
}

.card .card-body .card-details {
    margin-top: 50px;
}

img .card-image-top {
    border-bottom: 1px black;
}

.card-body-assessment {
    font-size: larger;
    font-weight: bold;
}

.card-body-assessment-links a {
    display: block;
    margin-bottom: 5px;
  }