@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 15%, rgba(200,36,47,1) 50%, rgba(15,48,65,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 450px;
    border-radius: 5px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.container .title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 35px;
    text-align: center;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: 48%;
    margin-bottom: 15px;
}

.input-box span.details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-box input, .input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #283593;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button button:hover {
    background-color: #1a237e;
    transform: scale(1.05);
}

.button button a {
    color: white;
    text-decoration: none;
}
