<!-- Navigation Bars for Lessons, Discussions and Assessments -->

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/lesson']"><button class="btn buttons w-100">LESSON</button></a></div>
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/discussionlist']"><button class="btn buttons w-100">DISCUSSION</button></a></div>
        <div class="col-12 col-md-3 mb-2"><a [routerLink]="['/main/Subject/subjectmain/modules/assessment']"><button class="btn buttons w-100">ASSESSMENT</button></a></div>
    </div>
</div>



<!-- List of Assessments -->
@for (item of assessmentlist; track $index) {
    <div class="container">
        <h1 class="titles">My Assessments</h1>
        <h5 class="text-muted text-uppercase">{{subname}} | {{admin_name}}</h5>
        <a [routerLink]="['/main/Subject/subjectmain/modules/questionnaires']" (click)="getAssessmentID(item.assessmentid, item.title)">
            <mat-card class="matcard">
                <mat-card-header class="matcardheader">
                  <div class="col-sm-9">
                      Assessment {{$index + 1}}
                  </div>
                  <div class="col-sm-5">
                      <p style="font-weight: 300; font-size: 15px;">Until: {{item.formatted_date}}</p>
                  </div>
                  </mat-card-header>
                  <div class="row">
                      <div class="col-11">
                          <mat-card-content class="matcardcontent">
                            {{item.title}}
                              <br>
                          </mat-card-content>
                      </div>
                    <!-- @if (progress.assessmentid) {
                        <div class="col-1">
                            <input class="form-check-input" type="checkbox" checked>
                        </div>
                    }@else if(progress.assessmentid != item.assessmentid) {
                        <div class="col-1">
                            <input class="form-check-input" type="checkbox">
                        </div>
                    }  -->
                      <!-- <div class="col-1">
                          <input class="form-check-input" type="checkbox" checked>
                      </div> -->
                  </div>
              </mat-card>
        </a>
    </div>
}
